{% extends "quiz/base.html" %}
{% block title %}{{ quiz.name }}{% endblock %}
{% block special_style %}
	<style>
	.grid {
		display: table;
		width: 100%;
	}
	.gridrow {
		display: table-row;
		width: 100%;
		height:2em;
	}
	.griditem {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		height:2em;
		max-width:0;
	}
	.questionlink {
		display: block;
		width: 100%;
		height: 2em; 
		line-height: 2em;
		vertical-align: middle;
	}
	</style>
{% endblock %}
{% block content %}
	Score: {{ request.session.score }}
	<div class="grid">
		<div class="gridrow">
			{% for category in categories %}
				<div class="griditem">{{ category.name }}</div>
			{% endfor %}
		</div>
		{% for question_row in questions %}
			<div class="gridrow">
				{% for question in question_row %}
					<div class="griditem">
						{% if question and not question.id in request.session.answered %}
							<a class="questionlink" href="{% url 'quiz:question' question.id %}">
								{{ question.value }}
							</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
