{% extends 'quiz/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	<p>Host a quiz below.</p>

	{% for quiz in host_quizzes %}
		<div>
			<p>{{ quiz.name }}<p>
			<form action="{% url 'livequiz:launch' %}" method="post">
				{% csrf_token %}
				<input type='hidden' name='quiz_id' value='{{ quiz.id }}'>
				<input type='submit' value='Launch New'>
			</form>
		</div>
	{% empty %}
		No quizzes are available to host.
	{% endfor %}

{% else %}
	You must be logged in to start a live quiz.
{% endif %}
{% endblock %}