{% extends "quiz/base.html" %}
{% block title %}Quiz Site{% endblock %}
{% block content %}

<p>Select an available quiz below.</p>

{% for quiz in self_quizzes %}
	<p>
		{{ quiz.name }}
		[<a href="{% url 'quiz:start' quiz.id %}">
			{% if request.session.quiz == quiz.id %}
				Restart
			{% else %}
				Start
			{% endif %}
		</a>]
	</p>
{% empty %}
	No quizzes are available.
{% endfor %}

{% if user.is_authenticated %}
	<a href="{% url 'livequiz:list' %}">Host a quiz.</a>
{% endif %}

<a href="{% url 'livequiz:join' %}">Join a quiz.</a>
{% endblock %}
