{% extends "quiz/base.html" %}
{% block title %}Quiz Site{% endblock %}
{% block content %}

<p>Select an available quiz below.</p>

{% for quiz in available_quizzes %}
	<p>
		{{ quiz.name }}

		{% if quiz in self_quizzes %}
			[<a href="{% url 'quiz:start' quiz.id %}">
				{% if request.session.quiz == quiz.id %}
					Restart Self Quiz
				{% else %}
					Start Self Quiz
				{% endif %}
			</a>]
		{% endif %}
		{% if quiz in host_quizzes %}
			[<form action="{% url 'quiz:launchlive' %}" method="post">{% csrf_token %}<input type="hidden" name="quiz_id" value="{{ quiz.id }}"><input type="submit" value="Start Live Quiz"></form>]
		{% endif %}
	</p>
{% empty %}
	No quizzes are available.
{% endfor %}

{% if user.is_authenticated %}
	<a href="{% url 'livequiz:list' %}">Manage quizzes you are hosting.</a>
{% endif %}

{% endblock %}
