{% extends "quiz/base.html" %}
{% block title %}Quiz Site{% endblock %}
{% block content %}

<p>Select an available quiz below.</p>

{% for quiz in self_quizzes %}
	<p>
		{{ quiz.name }}
		[<a href="{% url 'quiz:start' quiz.id %}">
			{% if request.session.quiz == quiz.id %}
				Restart
			{% else %}
				Start
			{% endif %}
		</a>]
	</p>
{% empty %}
	No quizzes are available.
{% endfor %}

{% if user.is_authenticated %}
	<p>Host a quiz below.</p>
	{% for quiz in host_quizzes %}
		<p>{{ quiz.name }}</p>
	{% empty %}
		No quizzes are available to host.
	{% endfor %}
{% endif %}

{% endblock %}
