{% extends 'livequiz/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	<p>Active Live Quizzes</p>

	{% for quiz in live_quizzes %}
		<div>
			<p>{{ quiz.name }} ({{quiz.code}})</p>
			[<a href="{% url 'livequiz:host' quiz.code %}">Continue</a>]
			<form action="{% url 'livequiz:delete' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="livequiz_code" value="{{ quiz.code }}">
				<input type="submit" value="Delete">
			</form>
	{% empty %}
		<p>There are no live quizzes.</p>
	{% endfor %}

{% else %}
	You must be logged in to manage live quizzes.
{% endif %}
{% endblock %}