{% extends "livequiz/base.html" %}
{% load static %}

{% block more_styles %}
    {{ block.super }}
    <link href="{% static 'livequiz/css/board.css'%}" rel='stylesheet'>
{% endblock %}

{% block content %}
    <template id='connection-error-template'>
        <div>
            <h2>Connection Error</h2>
            <p>The connection to the server has been unexpectedly closed. The server may be down, but I'll keep trying!</p>
        </div>
    </template>
    <template id='terminated-quiz-template'>
        <div>
            <h2>The Live Quiz has ended.</h2>
            <p>The quiz you were participating in has been closed by the host. You may <a href="{% url 'quiz:select' %}">return to the home page.</a></p>
        </div>
    </template>
    <template id='connection-refused-template'>
        <div>
            <h2>Connection Closed</h2>
            <p>Unfortunately, the server sent an error message back and closed your connection. You can try refreshing the page or resolving the issues below.</p>
            <ul>
            </ul>
        </div>
    </template>
    <template id='unknown-error-template'>
        <div>
            <h2>Unknown error...</h2>
            <p>Well, this is awkward. The server disconnected you cleanly without any error or terminate message. Try refreshing?</p>
        </div>
    </template>
    <div id='livequiz_content_div'><div>Please wait while we connect you to your quiz.</div></div>
    <div id='livequiz_buzz_div'><div></div></div>
{% endblock %}