{% extends "livequiz/livequiz.html" %}
{% load static %}

{% block title %}Playing Quiz {{quiz_code}}{% endblock %}

{% block more_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'livequiz/css/player.css' %}">
{% endblock %}

{% block content %}
<div id='livequiz_player_div'><div>Waiting on server to set name...</div></div>
{{ block.super }}
<script type="module">
    import { setup } from "{% static 'livequiz/js/player.js' %}";

    setup("{{quiz_code}}");
</script>
{% endblock %}